node_modules
.idea/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
apps/app/.svelte-kit
apps/app/build
apps/admin/.svelte-kit
apps/admin/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
